WCFServer/WCFServer/Connected Services/ServiceReferenceFilm/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="FilmCode" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
  <xs:complexType name="ArrayOfFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm" nillable="true" type="tns:ArrayOfFilm" />
</xs:schema>