WCFServer/WCFServer/Connected Services/ServiceReferencePlace/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ControlloFK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valore" type="xs:int" />
        <xs:element minOccurs="0" name="value_type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlloFKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControlloFKResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzazionePostiDisponibili">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_evento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzazionePostiDisponibiliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisualizzazionePostiDisponibiliResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaPosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_evento" type="xs:int" />
        <xs:element minOccurs="0" name="numero_posto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaPostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificaPostoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>