WCFServer/WCFServer/Connected Services/ServiceReferencePlace/ServicePlace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePlace" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePlace/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePlace/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePlace/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePlace_CheckFK_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckFK" />
  </wsdl:message>
  <wsdl:message name="IServicePlace_CheckFK_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckFKResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePlace_GetAvailablePlacesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePlacesList" />
  </wsdl:message>
  <wsdl:message name="IServicePlace_GetAvailablePlacesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePlacesListResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePlace_CheckPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlace" />
  </wsdl:message>
  <wsdl:message name="IServicePlace_CheckPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlaceResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePlace">
    <wsdl:operation name="CheckFK">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePlace/CheckFK" message="tns:IServicePlace_CheckFK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePlace/CheckFKResponse" message="tns:IServicePlace_CheckFK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePlacesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePlace/GetAvailablePlacesList" message="tns:IServicePlace_GetAvailablePlacesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePlace/GetAvailablePlacesListResponse" message="tns:IServicePlace_GetAvailablePlacesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePlace/CheckPlace" message="tns:IServicePlace_CheckPlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePlace/CheckPlaceResponse" message="tns:IServicePlace_CheckPlace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePlace" type="tns:IServicePlace">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckFK">
      <soap:operation soapAction="http://tempuri.org/IServicePlace/CheckFK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePlacesList">
      <soap:operation soapAction="http://tempuri.org/IServicePlace/GetAvailablePlacesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPlace">
      <soap:operation soapAction="http://tempuri.org/IServicePlace/CheckPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePlace">
    <wsdl:port name="BasicHttpBinding_IServicePlace" binding="tns:BasicHttpBinding_IServicePlace">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePlace/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>