WCFServer/WCFServer/Connected Services/ServiceReferenceHall/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHall">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hall" nillable="true" type="tns:Hall" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHall" nillable="true" type="tns:ArrayOfHall" />
  <xs:complexType name="Hall">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="HallCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hall" nillable="true" type="tns:Hall" />
</xs:schema>