WCFServer/WCFServer/Connected Services/ServiceReferenceHall/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VisualizzazioneSale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzazioneSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisualizzazioneSaleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RappresentaSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_evento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RappresentaSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RappresentaSaleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>