WCFServer/WCFServer/Connected Services/ServiceReferenceHall/ServiceHall.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceHall" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServiceHall/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServiceHall/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHall_VisualizzazioneSale_InputMessage">
    <wsdl:part name="parameters" element="tns:VisualizzazioneSale" />
  </wsdl:message>
  <wsdl:message name="IServiceHall_VisualizzazioneSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:VisualizzazioneSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHall_RappresentaSale_InputMessage">
    <wsdl:part name="parameters" element="tns:RappresentaSale" />
  </wsdl:message>
  <wsdl:message name="IServiceHall_RappresentaSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:RappresentaSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHall">
    <wsdl:operation name="VisualizzazioneSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHall/VisualizzazioneSale" message="tns:IServiceHall_VisualizzazioneSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHall/VisualizzazioneSaleResponse" message="tns:IServiceHall_VisualizzazioneSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RappresentaSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHall/RappresentaSale" message="tns:IServiceHall_RappresentaSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHall/RappresentaSaleResponse" message="tns:IServiceHall_RappresentaSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceHall" type="tns:IServiceHall">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VisualizzazioneSale">
      <soap:operation soapAction="http://tempuri.org/IServiceHall/VisualizzazioneSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RappresentaSale">
      <soap:operation soapAction="http://tempuri.org/IServiceHall/RappresentaSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHall">
    <wsdl:port name="BasicHttpBinding_IServiceHall" binding="tns:BasicHttpBinding_IServiceHall">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServiceHall/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>