WCFServer/WCFServer/Connected Services/ServiceReferenceEvent/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameAdmin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="filmCode" type="xs:int" />
        <xs:element minOccurs="0" name="hallCode" type="xs:int" />
        <xs:element minOccurs="0" name="price" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellazioneEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiceevento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellazioneEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancellazioneEventoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_eventi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_eventiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Visualizzazione_elenco_eventiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>