WCFServer/WCFServer/Connected Services/ServiceReferenceUser/ServiceUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUser" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServiceUser/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServiceUser/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServiceUser/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUser_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetUsersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersList" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetUsersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_CheckStringFK_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStringFK" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_CheckStringFK_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStringFKResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUser">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/Registration" message="tns:IServiceUser_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/RegistrationResponse" message="tns:IServiceUser_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/Login" message="tns:IServiceUser_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/LoginResponse" message="tns:IServiceUser_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/DeleteUser" message="tns:IServiceUser_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/DeleteUserResponse" message="tns:IServiceUser_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/EditUser" message="tns:IServiceUser_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/EditUserResponse" message="tns:IServiceUser_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/GetUser" message="tns:IServiceUser_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetUserResponse" message="tns:IServiceUser_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/GetUsersList" message="tns:IServiceUser_GetUsersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetUsersListResponse" message="tns:IServiceUser_GetUsersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStringFK">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/CheckStringFK" message="tns:IServiceUser_CheckStringFK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/CheckStringFKResponse" message="tns:IServiceUser_CheckStringFK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/CheckConnection" message="tns:IServiceUser_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/CheckConnectionResponse" message="tns:IServiceUser_CheckConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceUser" type="tns:IServiceUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersList">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/GetUsersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStringFK">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/CheckStringFK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUser">
    <wsdl:port name="BasicHttpBinding_IServiceUser" binding="tns:BasicHttpBinding_IServiceUser">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServiceUser/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>