WCFClient/WCFClient/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="regia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durata" type="xs:int" />
        <xs:element minOccurs="0" name="datauscita" type="xs:dateTime" />
        <xs:element minOccurs="0" name="genere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addFilmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellazioneFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codicefilm" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellazioneFilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancellazioneFilmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserimentoEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameadmin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data_e_ora" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codice_film" type="xs:int" />
        <xs:element minOccurs="0" name="codice_sala" type="xs:int" />
        <xs:element minOccurs="0" name="prezzo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserimentoEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserimentoEventoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellazioneEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiceevento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellazioneEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancellazioneEventoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_film">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_filmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Visualizzazione_elenco_filmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_eventi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_eventiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Visualizzazione_elenco_eventiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzazioneSale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzazioneSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisualizzazioneSaleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlloFK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valore" type="xs:int" />
        <xs:element minOccurs="0" name="value_type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlloFKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControlloFKResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_UtentiFree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_UtentiFreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Visualizzazione_elenco_UtentiFreeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_Prenotazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizzazione_elenco_PrenotazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Visualizzazione_elenco_PrenotazioniResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzazionePostiDisponibili">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_evento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzazionePostiDisponibiliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisualizzazionePostiDisponibiliResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserimentoPrenotazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataora" type="xs:dateTime" />
        <xs:element minOccurs="0" name="username_utentefree" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codice_evento" type="xs:int" />
        <xs:element minOccurs="0" name="numero_posto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserimentoPrenotazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserimentoPrenotazioneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RappresentaSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_evento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RappresentaSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RappresentaSaleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaPosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_evento" type="xs:int" />
        <xs:element minOccurs="0" name="numero_posto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaPostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificaPostoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>