WCFClient/WCFClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IService1_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IService1_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckStringFK_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStringFK" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckStringFK_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStringFKResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShowsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShowsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPrenotation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrenotation" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPrenotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrenotationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePrenotation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrenotation" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePrenotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrenotationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrenotationsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrenotationsList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrenotationsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrenotationsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicketsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicketsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFilm" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFilm" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilm" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilmList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilmList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHallsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHallsList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHallsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHallsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DrawHall_InputMessage">
    <wsdl:part name="parameters" element="tns:DrawHall" />
  </wsdl:message>
  <wsdl:message name="IService1_DrawHall_OutputMessage">
    <wsdl:part name="parameters" element="tns:DrawHallResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckIntFK_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIntFK" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckIntFK_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIntFKResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAvailablePlacesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePlacesList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAvailablePlacesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePlacesListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlace" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlaceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registration" message="tns:IService1_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrationResponse" message="tns:IService1_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditUser" message="tns:IService1_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditUserResponse" message="tns:IService1_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsersList" message="tns:IService1_GetUsersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersListResponse" message="tns:IService1_GetUsersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStringFK">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckStringFK" message="tns:IService1_CheckStringFK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckStringFKResponse" message="tns:IService1_CheckStringFK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEvent" message="tns:IService1_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddEventResponse" message="tns:IService1_AddEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEvent" message="tns:IService1_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEventResponse" message="tns:IService1_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEventsList" message="tns:IService1_GetEventsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventsListResponse" message="tns:IService1_GetEventsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetShowsList" message="tns:IService1_GetShowsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetShowsListResponse" message="tns:IService1_GetShowsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrenotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPrenotation" message="tns:IService1_AddPrenotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPrenotationResponse" message="tns:IService1_AddPrenotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrenotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePrenotation" message="tns:IService1_DeletePrenotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePrenotationResponse" message="tns:IService1_DeletePrenotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrenotationsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPrenotationsList" message="tns:IService1_GetPrenotationsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPrenotationsListResponse" message="tns:IService1_GetPrenotationsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTicketsList" message="tns:IService1_GetTicketsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTicketsListResponse" message="tns:IService1_GetTicketsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddFilm" message="tns:IService1_AddFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddFilmResponse" message="tns:IService1_AddFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteFilm" message="tns:IService1_DeleteFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteFilmResponse" message="tns:IService1_DeleteFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilm" message="tns:IService1_GetFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilmResponse" message="tns:IService1_GetFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilmList" message="tns:IService1_GetFilmList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilmListResponse" message="tns:IService1_GetFilmList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHallsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHallsList" message="tns:IService1_GetHallsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHallsListResponse" message="tns:IService1_GetHallsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DrawHall">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DrawHall" message="tns:IService1_DrawHall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DrawHallResponse" message="tns:IService1_DrawHall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIntFK">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckIntFK" message="tns:IService1_CheckIntFK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckIntFKResponse" message="tns:IService1_CheckIntFK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePlacesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAvailablePlacesList" message="tns:IService1_GetAvailablePlacesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAvailablePlacesListResponse" message="tns:IService1_GetAvailablePlacesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckPlace" message="tns:IService1_CheckPlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckPlaceResponse" message="tns:IService1_CheckPlace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IService1/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IService1/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStringFK">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckStringFK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEventsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetShowsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrenotation">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPrenotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrenotation">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePrenotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrenotationsList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPrenotationsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTicketsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/AddFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilmList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHallsList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHallsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawHall">
      <soap:operation soapAction="http://tempuri.org/IService1/DrawHall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIntFK">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckIntFK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePlacesList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAvailablePlacesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPlace">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>