WCFServer/WCFServer/Connected Services/ServiceReferencePrenotation/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePrenotation/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="Film" nillable="true" type="tns:Film" />
      <xs:element minOccurs="0" name="Prenotation" nillable="true" type="tns:Prenotation" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventCode" type="xs:int" />
      <xs:element minOccurs="0" name="FilmCode" type="xs:int" />
      <xs:element minOccurs="0" name="HallCode" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsernameAdmin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="FilmCode" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
  <xs:complexType name="Prenotation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventCode" type="xs:int" />
      <xs:element minOccurs="0" name="PrenotationCode" type="xs:int" />
      <xs:element minOccurs="0" name="UsernameUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prenotation" nillable="true" type="tns:Prenotation" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlaceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PrenotationCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
</xs:schema>