WCFServer/WCFServer/Connected Services/ServiceReferencePrenotation/ServicePrenotation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePrenotation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePrenotation/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePrenotation/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePrenotation/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDatabaseManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePrenotation_AddPrenotation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrenotation" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_AddPrenotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrenotationResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_DeletePrenotation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrenotation" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_DeletePrenotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrenotationResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_AddSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubscription" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_AddSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_DeleteSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubscription" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_DeleteSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_GetSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscription" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_GetSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_GetPrenotationsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrenotationsList" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_GetPrenotationsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrenotationsListResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_GetTicketsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsList" />
  </wsdl:message>
  <wsdl:message name="IServicePrenotation_GetTicketsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsListResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePrenotation">
    <wsdl:operation name="AddPrenotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePrenotation/AddPrenotation" message="tns:IServicePrenotation_AddPrenotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePrenotation/AddPrenotationResponse" message="tns:IServicePrenotation_AddPrenotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrenotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePrenotation/DeletePrenotation" message="tns:IServicePrenotation_DeletePrenotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePrenotation/DeletePrenotationResponse" message="tns:IServicePrenotation_DeletePrenotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePrenotation/AddSubscription" message="tns:IServicePrenotation_AddSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePrenotation/AddSubscriptionResponse" message="tns:IServicePrenotation_AddSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePrenotation/DeleteSubscription" message="tns:IServicePrenotation_DeleteSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePrenotation/DeleteSubscriptionResponse" message="tns:IServicePrenotation_DeleteSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePrenotation/GetSubscription" message="tns:IServicePrenotation_GetSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePrenotation/GetSubscriptionResponse" message="tns:IServicePrenotation_GetSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrenotationsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePrenotation/GetPrenotationsList" message="tns:IServicePrenotation_GetPrenotationsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePrenotation/GetPrenotationsListResponse" message="tns:IServicePrenotation_GetPrenotationsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePrenotation/GetTicketsList" message="tns:IServicePrenotation_GetTicketsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePrenotation/GetTicketsListResponse" message="tns:IServicePrenotation_GetTicketsList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePrenotation" type="tns:IServicePrenotation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPrenotation">
      <soap:operation soapAction="http://tempuri.org/IServicePrenotation/AddPrenotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrenotation">
      <soap:operation soapAction="http://tempuri.org/IServicePrenotation/DeletePrenotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubscription">
      <soap:operation soapAction="http://tempuri.org/IServicePrenotation/AddSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubscription">
      <soap:operation soapAction="http://tempuri.org/IServicePrenotation/DeleteSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscription">
      <soap:operation soapAction="http://tempuri.org/IServicePrenotation/GetSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrenotationsList">
      <soap:operation soapAction="http://tempuri.org/IServicePrenotation/GetPrenotationsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsList">
      <soap:operation soapAction="http://tempuri.org/IServicePrenotation/GetTicketsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePrenotation">
    <wsdl:port name="BasicHttpBinding_IServicePrenotation" binding="tns:BasicHttpBinding_IServicePrenotation">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFDatabaseManager/ServicePrenotation/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>